<form action="/redirect_bookmarks" method="post">
  <label for="Bookmark">
    Please enter a bookmark: 
    <input type="text" name="Bookmark">
  </label>
    <input type="submit" value="Submit">
</form>
